<!doctype HTML>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/friends.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	{{> imports}}
	
</head>

<body>

	<div id="wrap">
		<div id="content">
			{{> topbar-front}}
				friends
			{{> topbar-back}}

			<div class="tabs">
				<img src="http://placehold.it/110x50"/><img src="http://placehold.it/110x50"/><img src="http://placehold.it/110x50"/>
			</div>
			<div class="flist">
				<form id="flist">
					<input type="text" name="search" placeholder="search" /><img src="https://placehold.it/35x35"/>
				</form>
				
				<div id="info">
					<div id="info-in">
						{{#each friends}}
						<div class="entry">
							<img src={{avatar}}/>
							<div class="level">{{level}}</div>
							<div class="name">{{username}}</div>
							<div class="desc">{{description}}</div>
							<div class="prof" style="background-image: url('/imgs/friends-viewprofile.png')">
								<div class="profhover">
									<a href="/profile/{{id}}"><img src="https://placehold.it/110x35"/></a>
								</div>
							</div>
						</div>
					<!--	
						<div class="entry">
							<img src="https://placehold.it/100x100"/>
							<div class="level">20</div>
							<div class="name">namehere</div>
							<div class="desc">lorem ipsum dolor sit amet idk man help</div>
							<div class="prof">&nbsp;</div>
						</div>

						<div class="entry">
							<img src="https://placehold.it/100x100"/>
							<div class="level">20</div>
							<div class="name">namehere</div>
							<div class="desc">lorem ipsum dolor sit amet idk man help</div>
							<div class="prof">&nbsp;</div>
						</div>

						<div class="entry">
							<img src="https://placehold.it/100x100"/>
							<div class="level">20</div>
							<div class="name">namehere</div>
							<div class="desc">lorem ipsum dolor sit amet idk man help</div>
							<div class="prof">&nbsp;</div>
						</div> -->
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<div id="navbar">
			<div id="stats">
				&nbsp;
			</div>

			{{> menu}}
		</div>
	</div>

</body>