<!doctype HTML>
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/css/shop.css">
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/tabs.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="/js/tabs.js"></script>
</head>

<body>

	<div id="wrap">
		<div id="content">
			<div id="backbar">
				<a href="home"><img src="imgs/home.png"/></a>
				<div class="trail">
					shop
				</div>
				<div id="logout"><a href = "/"> log out </a></div>
			</div>

			<div id="self">	
				<img src="http://placehold.it/170x170"/>
				<div class="desc">
					<div class="text">
						<h1>item name</h1>
						<p>item description goes here</p>
					</div>
				</div>
			</div>

			<div id="money"> 
				<img src="imgs/moneys.png" class="coins before"/>
					<div class="gold bef" id="money-before">003,000</div>

				<img src="imgs/change-arrow.gif" class="arrow"/>

				<img src="imgs/moneys.png" class="coins"/>
					<div class="gold" id="money-after">003,500</div>
			</div>


			<div id="etabs">
				<ul class="tabs top-marg">
					<li num="1" class="tab-img tab-curr" data-tab="tab-1">
						<img src="imgs/top-tab.png" class="on img-curr"/>
						<img src="imgs/top-tab-off.png" class="off off-first"/>
					</li>
					<li num="2" class="tab-img" data-tab="tab-2">
						<img src="imgs/bottom-tab.png" class="on"/>
						<img src="imgs/bottom-tab-off.png" class="off"/>
					</li>
					<li num="3" class="tab-img" data-tab="tab-3">
						<img src="imgs/hat-tab.png" class="on"/>
						<img src="imgs/hat-tab-off.png" class="off"/>
					</li>
					<li num="4" class="tab-img" data-tab="tab-4">
						<img src="imgs/weapon-tab.png" class="on"/>
						<img src="imgs/weapon-tab-off.png" class="off"/>
					</li>
					<li num="5" class="tab-img" data-tab="tab-5">
						<img src="imgs/stylin-tab.png" class="on"/>
						<img src="imgs/stylin-tab-off.png" class="off"/>
					</li>
					<li num="6" class="tab-img" data-tab="tab-6">
						<img src="imgs/pet-tab.png" class="on"/>
						<img src="imgs/pet-tab-off.png" class="off"/>
					</li>
				</ul>


				<div class="items">

				<!-- !!!!!!!!!!!!!!!!!!!!!!! TAB ONE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

					<div id="tab-1" class="grid grid-curr">
						{{#each top-items}}
						<div class="entries" id="{{name}}" alt="{{description}}">
							<img src="{{img}}" class="thing"/>
							<div class="price">
								<img src="imgs/moneys.png" class="coin"/>
								{{price}}
							</div>
							<div class="level">LV{{lvl}}</div>
							<img src="imgs/check.png" class="owned"/>
						</div>
						{{/each}}
					</div>

				<!-- !!!!!!!!!!!!!!!!!!!!!!! TAB TWO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

					<div id="tab-2" class="grid">
						{{#each bottom-items}}
						<div class="entries" id="{{name}}" alt="{{description}}">
							<img src="{{img}}" class="thing"/>
							<div class="price">
								<img src="imgs/moneys.png" class="coin"/>
								{{price}}
							</div>
							<div class="level">LV{{lvl}}</div>
							<img src="imgs/check.png" class="owned"/>
						</div>
						{{/each}}
					</div>


				<!-- !!!!!!!!!!!!!!!!!!!!!!! TAB THREE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

					<div id="tab-3" class="grid">
						{{#each hat-items}}
						<div class="entries" id="{{name}}" alt="{{description}}">
							<img src="{{img}}"/>
							<div class="price">
								<img src="imgs/moneys.png" class="coin"/>
								{{price}}
							</div>
							<div class="level">LV{{lvl}}</div>
							<img src="imgs/check.png" class="owned"/>
						</div>
						{{/each}}
					</div>

				<!-- !!!!!!!!!!!!!!!!!!!!!!! TAB FOUR !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

					<div id="tab-4" class="grid">
						{{#each weapon-items}}
						<div class="entries" id="{{name}}" alt="{{description}}">
							<img src="{{img}}"/>
							<div class="price">
								<img src="imgs/moneys.png" class="coin"/>
								{{price}}
							</div>
							<div class="level">LV{{lvl}}</div>
							<img src="imgs/check.png" class="owned"/>
						</div>
						{{/each}}
					</div>


				<!-- !!!!!!!!!!!!!!!!!!!!!!! TAB FIVE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

					<div id="tab-5" class="grid">
						{{#each style-items}}
						<div class="entries" id="{{name}}" alt="{{description}}">
							<img src="{{img}}"/>
							<div class="price">
								<img src="imgs/moneys.png" class="coin"/>
								{{price}}
							</div>
							<div class="level">LV{{lvl}}</div>
							<img src="imgs/check.png" class="owned"/>
						</div>
						{{/each}}
					</div>


					<!-- !!!!!!!!!!!!!!!!!!!!!!! TAB SIX !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

					<div id="tab-6" class="grid">
						{{#each pet-items}}
						<div class="entries" id="{{name}}" alt="{{description}}">
							<img src="{{img}}"/>
							<div class="price">
								<img src="imgs/moneys.png" class="coin"/>
								{{price}}
							</div>
							<div class="level">LV{{lvl}}</div>
							<img src="imgs/check.png" class="owned"/>
						</div>
						{{/each}}
					</div>

				</div>	
			</div>

			<div id="buttons">
				<img src="imgs/reset.png"/><button type="button" name="save">checkout</button>
			</div>

		</div>

		<div id="navbar">
			<div id="stats">
				&nbsp;
			</div>

			<div id="menu">
				<a href="self"><img src="imgs/self.png" alt="self"/></a>
				<a href="equip"><img src="imgs/equip.png" alt="equip"/></a>
				<a href="shop"><img src="imgs/shop.png" alt="shop"/></a>
				<a href="friends"><img src="imgs/friends.png" alt="friends"/></a>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>